header {
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	background-color: white;
	height: 70px;
}

#header_logo {
	background-repeat: no-repeat;
	background-position: center;
	height: 100%;
	width: 142px;
	background-image: url("../images/logo.png");
	margin-left: 20px;
}
